<div id="navigation">
    <div id="logo">
        <a href="{{ '/' | relative_url }}">
            <img src="/assets/images/logo.png" alt="{{ site.title }} Logo">
        </a>
    </div>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/reading_list' | relative_url }}">Reading List 📚</a></li>
    </ul>

    <div class="section">
        <ul>
            <li><a href="{{ '/projects' | relative_url }}"><h3>Projects</h3></a></li>
        </ul>
    </div>
</div>