body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
}
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#navigation {
    background-color: #F3F3F3;
    padding: 20px;
    border-bottom: 1px solid #EAEAEA;
}
#navigation ul {
    list-style: none;
    padding: 0;
}
#navigation li {
    display: inline;
    margin-right: 15px;
}
#navigation a {
    text-decoration: none;
    color: #555;
}
#content {
    padding: 20px;
    flex-grow: 1;
}
#footer {
    text-align: center;
    padding: 10px;
    background-color: #F3F3F3;
    border-top: 1px solid #EAEAEA;
    font-size: 0.9em;
    color: gray;
}

